---
import ExperienceContend from "./ExperienceContend.astro";

import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const EXPERIENCE = [
  {
    date: t("experience.date-1"),
    title: t("experience.title-1"),
    description: t("experience.description-1"),
  },
  {
    date: t("experience.date-2"),
    title: t("experience.title-2"),
    description: t("experience.description-2"),
  },
  {
    date: t("experience.date-3"),
    title: t("experience.title-3"),
    description: t("experience.description-3"),
  },
];

import WorkIcon from "./icon/Work.astro";
---

<h2  id="experience" class="text-3xl font-semibold pb-6 flex gap-x-3 items-center">
  <WorkIcon class="size-7" />
  {t("experience.title.main")}
</h2>
<ol class="relative mt-8">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-2 ms-4">
        <ExperienceContend {...experience} />
      </li>
    ))
  }
</ol>
