---
import ExperienceContend from "./ExperienceContend.astro";

import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const EXPERIENCE = [
  {
    date: t("experience.date-1"),
    title: t("experience.title-1"),
    description: t("experience.description-1"),
  },
  {
    date: t("experience.date-2"),
    title: t("experience.title-2"),
    description: t("experience.description-2"),
  },
  {
    date: t("experience.date-3"),
    title: t("experience.title-3"),
    description: t("experience.description-3"),
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceContend {...experience} />
      </li>
    ))
  }
</ol>
