---
import { languages } from "../i18n/ui";
import { getLangFromUrl } from "../i18n/utils";
const lang = getLangFromUrl(Astro.url);
import TranslateIcon from "./icon/Translate.astro";
---

<div class="relative ml-1 mr-1">
  <button
    id="language-toggle-btn"
    class="appearance-none border-none flex hover:scale-125 transition"
  >
    <span class="size-2.5">{(<TranslateIcon />)}</span>
  </button>
  <div
    id="languages-menu"
    class="absolute opacity-0 scale-80 top-8 right-0 text-sm p-1 min-w-[8rem] rounded-md border border-gray-100 bg-white/70 shadow-[0_3px_10px_rgb(0,0,0,0.2)] backdrop-blur-md"
  >
    <ul>
      {
        Object.entries(languages).map(([lang, label]) => (
          <li class="languages-menu-option px-2 py-1.5 cursor-default hover:bg-neutral-400/40 rounded-sm">
            <a href={`/${lang}/`} onclick="changeLanguage(event)">
              {label}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>

<style>
  #languages-menu.open {
    animation: scale-up-center 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  @keyframes scale-up-center {
    from {
      transform: scale(0.8);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }
</style>

<script is:inline>
  let remove = null;
  const languagesMenu = document.getElementById("languages-menu");

  const changeLanguage = (event) => {
    event.preventDefault();
    const lang = event.target.getAttribute("href").replace(/\//g, "");
    console.log("Language changed to", lang);
    // Aquí puedes añadir la lógica para cambiar el idioma
    // Por ejemplo, puedes recargar la página con el nuevo idioma
    window.location.href = event.target.getAttribute("href");
  };

  document.addEventListener("click", () =>
    languagesMenu.classList.remove("open")
  );

  document
    .getElementById("language-toggle-btn")
    .addEventListener("click", (e) => {
      e.stopPropagation();
      const isClosed = !languagesMenu.classList.contains("open");
      languagesMenu.classList[isClosed ? "add" : "remove"]("open");
    });

  document.querySelectorAll(".languages-menu-option").forEach((element) => {
    element.addEventListener("click", changeLanguage);
  });
</script>
