---
import Layout from "../../layouts/Layout.astro";

import Container from "../../components/Container.astro";

import Experience from "../../components/Experience.astro";
import LinkedinIcon from "../../components/icon/Linkedin.astro";
import GithubIcon from "../../components/icon/Github.astro";
import MailIcon from "../../components/icon/Mail.astro";
import SocialIcon from "../../components/SocialIcon.astro";

import Projects from "../../components/Projects.astro";
import AboutMe from "../../components/AboutMe.astro";

import { useTranslations, getLangFromUrl } from "../../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout>
  <main class="px-4">
    <Container class="py-20 pb-32">
      <div class="flex content-center justify-center flex-wrap">
        <div class="flex flex-col lg:flex-row items-center">
          <img
            loading="lazy"
            class="rounded-full size-40 mb-5 lg:mb-0 lg:mr-8"
            src="https://res.cloudinary.com/dlhpctfa3/image/upload/v1707675395/hero-image_hti6yg.jpg"
            alt="ezequiel foto"
          />

          <div class="flex flex-col lg:flex-row items-center">
            <h1
              class="text-white text-2xl md:text-3xl lg:text-4xl font-bold flex flex-row gap-x-2"
            >
              {t("home.title")}
            </h1>
          </div>
        </div>
      </div>
      <h2 class="text-xl lg:text-2xl opacity-80 text-wrap max-w-[700px]">
        <span class="text-yellow-200/90">{t("home.description.span-1")}</span>
        {t("home.description.span-2")}
        <span class="text-sky-300">{t("home.description.span-3")}</span>
        <span>{t("home.description.span-4")}</span>
      </h2>
      <div class="w-full text-center justify-center flex mb-6">
        <h2>
          <span
            class="text-transparent bg-clip-text bg-gradient-to-r from-sky-300 to-sky-800"
            id="typedText"
          >
          </span>

          <span class="input"></span>
        </h2>
      </div>
      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialIcon href="https://www.linkedin.com/in/ezequiel-benitez2203">
          <LinkedinIcon class="size-4 lg:size-6" />
          Linkedin
        </SocialIcon>
        <SocialIcon href="https://www.github/Eze-quielph">
          <GithubIcon class="size-4 lg:size-6" />
          Github
        </SocialIcon>
        <SocialIcon href="https://www.github/Eze-quielph">
          <MailIcon class="size-4 lg:size-6" />
          ezequiel_developer@outlook.com
        </SocialIcon>
      </nav>
    </Container>


     <Container >
      <Experience />
    </Container>

    <Container>
      <Projects />
    </Container>
    <Container >
      <AboutMe />
    </Container>
  </main>
</Layout>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const typedText = document.getElementById("typedText");
    const strings = [
      "Software Engineer  ",
      "Mobile Developer  ",
      "Web Developer  ",
    ];
    let currentStringIndex = 0;
    let currentCharIndex = 0;
    let isDeleting = false;

    function type() {
      const currentString = strings[currentStringIndex];
      if (isDeleting) {
        typedText
          ? (typedText.textContent = currentString.substring(
              0,
              currentCharIndex - 1
            ))
          : null;
        currentCharIndex--;
        if (currentCharIndex === 0) {
          isDeleting = false;
          currentStringIndex = (currentStringIndex + 1) % strings.length;
        }
      } else {
        typedText
          ? (typedText.textContent = currentString.substring(
              0,
              currentCharIndex + 1
            ))
          : null;
        currentCharIndex++;
        if (currentCharIndex === currentString.length) {
          isDeleting = true;
        }
      }
      setTimeout(type, isDeleting ? 50 : 200);
    }

    type(); // start typing
  });
  /* 
  document
    .getElementById("downloadCvButtonEs")
    .addEventListener("click", function () {
      const url = "/EZEQUIEL-BENITEZ-ES.pdf";
      const linkDownload = document.createElement("a");
      linkDownload.href = url;
      linkDownload.download = "EZEQUIEL-BENITEZ-ES";
      document.body.appendChild(linkDownload);
      linkDownload.click();
      document.body.removeChild(linkDownload);
    });

  document
    .getElementById("downloadCvButtonEn")
    .addEventListener("click", function () {
      const url = "/EZEQUIEL-BENITEZ-EN.pdf";
      const linkDownload = document.createElement("a");
      linkDownload.href = url;
      linkDownload.download = "EZEQUIEL-BENITEZ-EN";
      document.body.appendChild(linkDownload);
      linkDownload.click();
      document.body.removeChild(linkDownload);
    }); */
</script>
