---
import '@fontsource-variable/onest';

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro'

import {useTranslations, getLangFromUrl} from '../i18n/utils';

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang);
---

<!doctype html>
<html lang={lang}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={t('layout.description')} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{t('layout.title')}</title>
	</head>
	<body>
		<div class="relative h-full w-full bg-neutral-900"><div class="absolute inset-0 bg-fuchsia-400 bg-[size:20px_20px] opacity-20 blur-[100px]"></div></div>
		<Header/>
		<slot />
		<Footer/>
	</body>
</html>
<style is:global>
	:root {
		color-scheme: ligth dark;
	}
	html {
		font-family: 'Onest Variable', system-ui, sans-serif;
		scroll-behavior: smooth;
	}
	body {
		background-color: #0f0f0f;	
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	@media (prefers-reduced-motion: reduce) {
		html:{
			scroll-behavior: auto;
		}
	}
	
</style>
